{% extends "mazgan/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
{% trans "Price list" %}
{% endblock title %}

{% block path %}/price_list{% endblock %}

{% block content %}

    {% for service in services %}
      <div class="card m-4" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ service.name }}</h5>
          <p class="card-text">{{ service.description }}</p>
          <p class="card-text">{{ service.price_field }}</p>
          <a href="#" class="btn btn-primary">Contact us</a>
        </div>
      </div>
    {% endfor %}

{% endblock content %}

